*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    overflow-x:hidden; 
    background-attachment: fixed;
}
/* DELETAR DEPOIS DA FESTA 01/01*/
body
{
    /*Atualzadp*/
    background-image: url("/brothers_bar/src/resor/img/fundo.jpg");
    background-position: center;
    
}
.container_title
{
    color: white;
    border-radius: 7px;
    background-color: rgb(42, 69, 189);
}

