.container_close_page
{ 
    display: flex;
    justify-content: center;
   
}

.close_web 
{
    color: rgb(0, 0, 0);
    margin-top: 100%;
}

@media (prefers-color-scheme: dark)
{
    .close_web {
        color: white;
    }
}