
/*Section news content ON News*/
.carosel{
    width: 100%;
    overflow-y: hidden;
    height: 250px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.carosel-items{
    width: 100%;
}

#next-item{
    position: absolute;
    margin-top: 30%;
    z-index: 1;
    margin-left: 90%;
    width: 25px;
    transform: rotate(90deg);
}

.items{
    display:flex;
    overflow-x:scroll;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
}
.item{
    flex:none;
    width: 100%;
    height: 300px;
    scroll-snap-align: start;
}
#carrosel-img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/*Section news content ON News END */