/* Header */

.header_content{
    position:fixed;
    z-index: 1;
    background-color: rgb(27, 27, 27);
    width: 100%;
    transition: 0.5s;
}
.header_content img
{
    position: relative;
    width: 100px;
    height: 100%;
}

.aling_center
{
    padding-top: 10px;
    text-align: center;
}


/* Fix header on top of the page*/
.sticky{
    height: 50px;
    transition: 0.5s ease;
}
.sticky img{
    width: 40px;
}
/* ----- */


/* Header end */

/* Content */
.subTitle{
    width: 80%;
    height: 50px;
    margin-top: 30px;
    margin-left: 10%;
    overflow-y: hidden;
    border-bottom: 1px solid rgba(0, 0, 0, 0.568);
}

.subTitle span{
    color: black;
}

section
{
    margin-top: 5%;
    text-align: center;
    margin-right: 3%;
    margin-left: 3% ;
    overflow-y: hidden;
}
.container
{
    width: 350px;
    display: inline-table;
    border-radius: 15px;
    margin-bottom: 8%;
    box-shadow: 0em 0.3em 0.4em 0.1em rgb(238, 238, 238);
    position: static;
    transition: 0.3s cubic-bezier(0.86, -0.01, 0.82, 0.99);
    overflow-y: hidden;
}

/* Container fade in-out effect */

.reveal{
    transform: translateY(10px);
    opacity: 0.3;
    overflow-y: hidden;
}

.reveal:nth-child(1){
    opacity: 1;
    transform: translateY(0px);
}

.active{
    transform: translateY(0px);
    opacity: 1;
    overflow-y: hidden;

}
/* ------- */

.container_title
{
    width: 100%;
    color: white;
    border-radius: 7px;
    background-color: rgb(34, 34, 34);
    
}

.arrow-btn
{
    position: absolute;
    display: block;
    z-index: 1;
    width: 20px;
    margin-left: 90%;
    margin-top: 4%;
    transform: rotate(0.5turn);
    -webkit-transform: rotate(0.5turn);
    transition: cubic-bezier(0, 1.41, 1, 1.02) 0.16s ;
}

h4
{
    display: inline-block;
    margin-top: 9px;
    margin-bottom: 12px;
    letter-spacing: 4px;
    font-weight: bold;
}

table
{
    width: 80%;
    text-align: left;  
    margin-left: 10%;

}

table tr td
{
    margin-top: 2%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.027);
    display: flex;
    display: -webkit-flex;
    justify-content:space-between;
    
}

#line{
    margin-left: 2%;
    width: 90%;
    display: inline-block;
}

p
{
    display: inline-block;
    margin-left: 1%;
    margin-bottom: 2%;
}

span
{
    margin-left: 10px;
    color: red;
}
footer{
    height: 140px;
    background-color: rgb(27, 27, 27);
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.icon{
    margin-top: 30px;
}

.icon img{
    width: 40px;
}

/* footer */
footer p
{
    color: white;
    opacity: 30%;
}

/* Media frames*/

@media (max-width: 365px) {
    
    .header_content img
    {
        width: 90px;
    }

    .sticky{
        height: 50px;
        transition: 0.5s ease;
    }
    .sticky img{
        width: 40px;
    }

    .container
    {
        width: 320px;
    }
    
}
@media (max-width: 345px) 
{
    
    .header_content img{
        width: 80px;
    }

    .sticky{
        height: 50px;
        transition: 0.5s ease;
    }
    .sticky img{
        width: 40px;
    }

    .container
    {
        width: 290px;
    }
    
}


