/* Header */

header{
    background-color: rgb(27, 27, 27);
}

.header_content img
{
    position: relative;
    width: 100px;
}

.aling_center
{
    padding-top: 10px;
    text-align: center;
}


.subTitle{
    width: 80%;
    height: 50px;
    margin-top: 5%;
    margin-left: 10%;
    overflow-y: hidden;
}

.subTitle span{
    color: black;
}

.line{
    position: absolute;
    z-index: 1;
    width: 80%;
    height: 1px;
    background-color: black;

    
}
/* Header end */

/* Content */
section
{
    margin-top: 10%;
    text-align: center;
    margin-right: 3%;
    margin-left: 3% ;
}
.container
{
    width: 350px;
    display: inline-block;
    border-radius: 15px;
    margin-bottom: 8%;
    box-shadow: 0em 0.3em 0.4em 0.1em rgb(238, 238, 238);
    position: static;
    
}
.container_title
{
    color: white;
    border-radius: 7px;
    background-color: rgb(34, 34, 34);
    
}
.container_content
{
    background-color: rgb(255, 255, 255);

}
.close_button
{
    position: absolute;
    width: 25px;
    margin-top: 6.5%;
    margin-left: 30%;
    transform: rotate(0.5turn);
    -webkit-transform: rotate(0.5turn);
    transition: ease-in-out 0.16s ;
}

h4
{
    display: inline-block;
    margin-top: 9px;
    margin-bottom: 12px;
    letter-spacing: 4px;
    font-weight: bold;
}

table
{
    transition: 0.2s ease-in-out;
    width: 100%;
    margin-left: 2%;
    text-align: left;  
}

table tr td
{
    margin-left: 1%;
    margin-top: 2%;
    display: block;
}

#line{
    margin-left: 2%;
    width: 90%;
    display: inline-block;
}


p
{
    display: inline-block;
    margin-left: 1%;
    margin-bottom: 2%;
}



span
{
    margin-left: 10px;
    color: red;
}
footer{
    height: 140px;
    background-color: rgb(27, 27, 27);
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.icon{
    margin-top: 30px;
}

.icon img{
    width: 40px;
}

/* footer */
footer p
{
    color: white;
    opacity: 30%;
}

/* Media frames*/

@media (max-width: 365px) {
    
    .header_content img
    {
        width: 90px;
    }

    .container
    {
        width: 320px;
    }
    
}
@media (max-width: 345px) 
{
    
    .header_content img{
        width: 80px;
    }

    .container
    {
        width: 290px;
    }
    
}


